<nb-layout>
  <nb-layout-header fixed>
    <nav>
      <ul>
        <li>
          <a routerLink="/todos-list" routerLinkActive="active"
            >First Component</a
          >
        </li>
        <li>
          <a routerLink="/todo-details" routerLinkActive="active"
            >Second Component</a
          >
        </li>
      </ul>
    </nav>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
